#albums-container {
	display: flex;
	flex-wrap: wrap;
}

.album {
	height: 250px;
	width: 200px;
	margin: 25px;
}

.cover {
	height: 200px;
	width: 200px;
	margin: 0px;
	background-color: #000000;
}

.info {
	margin: 2px 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.title {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.name {
	font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
