<template>
	<div id="albums-container">
		<div v-for="(a, index) in $store.state.pro.artists" :key="index">
		 	<div class="album">
		 		<div class="cover"><img className="album-cover" :src="a.artworkUrl100" alt="Loading.." width="200" heigth="200"/></div>
		 		<div class="info">
		 			<div class="title">{{a.collectionName}}</div>
		 			<div class="name">{{a.artistName}}</div>
		 		</div>
		 		
		 	</div>
		</div>
	</div>
</template>

<script>
export default {
	/**
	 * The name of the page.
	 */
	name: "AlbumsIndex"
};
</script>

<style scoped src="./Index.css">
</style>
